.gallery__grid-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s linear ;
}

.gallery__grid-video:hover {
  transform: scale(2.5, 2.5); 
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.5);
}