@keyframes clue{
  0% {
    opacity: 0;
    bottom: -30%;
  }
  50% {
    opacity: 0.5;
    bottom: -15%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.portfolio__table-clue {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  padding: 32px;
  display: none;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  row-gap: 16px;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
  border-radius: 6px;
  bottom:-50%;
  opacity: 0;
}


.portfolio__table-item:hover .portfolio__table-clue {
  display: flex;
  animation: clue 0.3s linear 1 forwards;
}

