@keyframes bullet{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__bullet_position_left {
  top: 190px;
  right: 700px;
  opacity: 0;
  }

  .header__button:hover ~ .header__bullet_position_left{
    animation: bullet 0s linear forwards 0.2s;
  }